/* Variables */
:root {
  --black: #000000;
  --white: #ffffff;
  --white-op: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-op: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --link-color: #007dc1;
}

/* Global */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--dark);
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.title {
  margin: 0;
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 1;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.pb-100 {
  padding-block: 100px;
}

/* Header */
.header {
  position: relative;
  background-color: var(--light);
  background-image: url(../img/main.png);
  background-repeat: no-repeat;
  background-size: auto 525px;
  background-position: right -34px top 45px;
}

.header::after,
.article::after {
  content: url(../img/background.png);
  position: absolute;
  top: -9px;
  left: 72px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.page-title {
  margin: 0;
  margin-bottom: 188px;
}

.main-color {
  color: var(--main);
  line-height: 1.2;
}

.align-center {
  text-align: center;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 21px;
}

.header-text {
  display: inline-block;
  width: 540px;
}

.header-text:last-of-type {
  margin-right: 0;
}

.link {
  text-decoration: none;
}

.link-btn {
  position: relative;
  margin-left: 180px;
  padding: 12px 24px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--main);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
}

/* Video section */
.video {
  padding-bottom: 0;
}

.video-title {
  margin: 0;
  margin-bottom: 27px;
}

.subtitle {
  margin: 0;
  margin-bottom: 30px;
}

.video-image {
  width: 919px;
  height: 517px;
  aspect-ratio: 16 / 9;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* Navigation */
.section-dark {
  background-color: var(--main-dark);
}

.section-dark .title {
  color: var(--white);
}

.navigation {
  margin-top: -100px;
  padding-top: 200px;
}

.navigation-list {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: auto auto;
  gap: 20px 30px;
  align-content: space-around;
  list-style: none;
}

.navigation-item {
  background-color: var(--light);
}

.navigation-link {
  display: block;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
}

.bg-transparent {
  background-color: transparent;
}

.navigation-title {
  font-size: 52px;
}

.item-number {
  margin: 0;
  margin-bottom: 40px;
  font-family: Neucha, sans-serif;
  font-size: 64px;
  line-height: 100%;
  color: var(--main-dark);
}

.item-title {
  margin: 0;
  margin-bottom: 16px;
  font-family: Neucha, sans-serif;
  font-size: 32px;
  line-height: 1.2;
  color: var(--main);
}

.item-description {
  margin: 0;
  font-size: inherit;
  color: var(--dark);
}

/* Articles */
.article {
  position: relative;
}

.section-light {
  background-color: var(--light);
}

.section-brown {
  color: var(--white);
  background-color: var(--brown);
}

.article-container {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.article-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  height: 434px;
}

.section-brown .article-image {
  order: 2;
}

.article-image {
  flex-basis: 48.5%;
  position: relative;
  max-width: 100%;
  vertical-align: bottom;
  z-index: 1;
}

.article-kicker {
  margin: 0;
  font-size: 24px;
  line-height: 1.2;
  color: var(--dark-op);
}

.section-brown .article-kicker {
  color: var(--white-op);
}

.article-title {
  flex-shrink: 1;
  margin: 0;
  font-size: 60px;
  color: var(--dark);
}

.section-brown .article-spoiler,
.section-brown .article-title {
  color: var(--white);
}

.article-spoiler {
  width: 502px;
  margin: 0;
  flex-shrink: 1;
  font-family: Neucha, sans-serif;
  font-size: 34px;
  line-height: 1.2;
  color: var(--dark);
}

.article-body {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.article-subtitle {
  flex: 1 0 100%;
  margin: 0;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  color: var(--white);
  background-color: var(--brown);
  text-transform: uppercase;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.section-brown .article-subtitle {
  color: var(--brown);
  background-color: var(--white);
}

.article-content {
  margin: 0;
  flex: 1 1 540px;
}

/* Footer */
.footer {
  color: var(--white);
  background-color: var(--white);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  /* gap: 122px; */
  padding: 55px;
  background-color: var(--dark);
}

.footer-cta {
  margin: 0;
  font-family: Neucha, sans-serif;
  font-size: 34px;
  line-height: 1.2;
}

.subscribe-form {
  flex-basis: 485px;
}

.form-label {
  display: block;
  font-size: 18px;
  line-height: 160%;
}

.form-group {
  display: flex;
}

.form-input {
  width: 415px;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  border: none;
}

::placeholder {
  font-size: 13px;
  opacity: 0.2;
}

.form-btn {
  flex: 1 0 70px;
  margin-left: 0;
  vertical-align: middle;
  border: 1px solid var(--main);
  background-image: url(../img/send.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.rules {
  margin: 0;
  font-size: 12px;
}

.rules-link {
  color: inherit;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 60px;
  font-size: 14px;
  color: var(--black);
}

.footer-bottom p {
  margin: 0;
}

.footer-link {
  color: var(--link-color);
}
