:root {
  --white: #ffffff;
  --white-op: #d7ccc0;
  --lite: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-op: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.title {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.header {
  position: relative;
  padding-top: 100px;
  background-image: url(../img/main.png);
  background-repeat: no-repeat;
  background-size: auto 525px;
  background-position: right -107px top 55px;
}

.header::before {
  content: url(../img/background.png);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.page-title {
  margin: 0;
  margin-bottom: 182px;
  font-family: Neucha, sans-serif;
  font-weight: 400;
}

.main-color {
  color: var(--main);
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 40px;
}

.header-text {
  display: inline-block;
  width: 540px;
}

.header-text:last-of-type {
  margin-right: 0;
}

.btn {
  margin-left: 180px;
  padding: 12px 24px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--main);
  text-transform: uppercase;
  text-decoration: none;
}
